body {
  font-family: brandon-grotesque, sans-serif;
  font-family: brandon-grotesque, sans-serif;
  background-color: HSL(157, 100%, 62%);;
}

.wrapper {
  border-width: 10px;
  border-color: HSL(157, 100%, 62%);
  border-style: solid;
  background-color: white;
}
nav {
  position: fixed;
  width: 0;
  left: 0;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 0;
} 

nav ul {
  
  list-style: none;
}

nav ul li {
  transform: rotate(-90deg);
justify-content: space-evenly;
}


.hidden {
  visibility: hidden;
  height: 0;
}

.colorOne {
  background-color: HSL(157, 100%, 62%);
}

.colorTwo {
  background-color: HSL(70, 100%, 80%);
}

            /*

   DEBUG GRID
   http://tachyons.io/docs/debug-grid/

   Can be useful for debugging layout issues
   or helping to make sure things line up perfectly.
   Just tack one of these classes onto a parent element.

*/

.debug-grid {
  background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=) repeat top left;
}

.debug-grid-16 {
  background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=) repeat top left;
}

.debug-grid-8-solid {
  background:white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==) repeat top left;
}

.debug-grid-16-solid {
  background:white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7) repeat top left;
}



h1 {
  color: #0000FF;
  margin-top: 5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
}

h1 > span {
  display: block;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  font-style: normal;
  display: block;

}

h2 {
  color: #0000FF;
  text-transform: uppercase;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
}

h3 {
  color: #0000FF;
  text-transform: uppercase;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  font-style: normal;
  text-align: center;

}

section {
  padding-bottom: 2em;
}
section > div {
  transform: translate(0, -4.5em);
} 


a {
  color: #0000FF;

}

#email-address {
  border: none;
  color: #0000FF;
  background-color: #fff;
  padding: 1.2rem;
}

.svg-wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.shape {
  stroke-dasharray: 75 540;
  stroke-dashoffset: -500;
  stroke-width: 8px;
  fill: transparent;
  stroke: #0000FF;
  border: 50px solid black;
  transition: stroke-width .5s, stroke-dashoffset .5s, stroke-dasharray .5s;
}



.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  
}



input[type="submit"] {
  border: none;
  text-transform: uppercase;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  color: #0000FF;
  
}

p {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0 10%;
  color: #000;
  line-height: 1.8rem;

}


.text {
  position: relative;
  top: -45px;
}

/* 

p.introduction {
  line-height: 2.8rem;
  color: #0000FF;
  text-align: center;
  padding: 0 20%;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
} */



@media (max-width: 850px) {
  h1 {
    font-size: 2rem;
  }
  h1 > span {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    display: block;
  }
}




@media (max-width: 960px) {

  nav {
    left: -16px;
  } 
  
}




@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
  h1 > span {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    display: block;
  }
  h2 {
    font-size: 1.4rem;
  }
}




@media (max-width: 350px) {
  h1 {
    font-size: 1.8rem;
  }
  h1 > span {
    display: block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    display: block;
  }
  h2 {
    font-size: 1rem;
  }


}



@media (max-width: 500px) {
  h3{
    font-size: 1rem;
  }

section > div {
  transform: translate(0, -2em);
} 

}
.italic {
  font-style:italic;
}

.bold {
  font-weight:700;
}